*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

@font-face {
    font-family:"Gotham";
    src: url(/fonts/Gotham-Medium.otf);
  }

body{
    background-color: black; 
    font-family:"Gotham";
}

.logo{
    display: block;
    margin: 0.5rem auto 1rem auto;
    height: 5rem;
}

.title{
    color:white;
    text-align: center;
    padding:0 3rem;
}

/* cursor y flecha */

.info{
    display:block;
    margin:1rem auto 0 auto;
}

.info-text{
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.5rem;
}

.info-arrow{
    display:block;
    margin:auto;
    width: 15rem;
}

/* ingredientes y coctel */

.game{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
}

.game-left{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.img-left{
    display:block;
    margin:0 0 0 auto;
    height: 200px;
    padding-right: 1rem;
}

.text-left{
    color:white;
    display:block;
    margin:0 0 0 auto;
    width: 150px;
    text-align: center;
    font-size: 0.8rem;
}

.game-right{
    width: 50%;
    position: relative;
}

.img-right{
    height: 200px;
    position: absolute;
}

/* botón */

.footer{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-btn{
    padding:1rem;
    text-transform: uppercase;
    background-color: black;
    color:white;
    border:1px solid white;
    text-align: center;
    text-decoration: none;
    font-size: 0.5rem;
    width: 200px; 
}

.light-container{
    width: 100px;
    position:relative;
    display:block;
    margin: -12.1rem auto;
}

.light1-right{
    position: absolute;
    top:3rem;
    height: 2rem;
    animation-name: star;
    animation-duration: 2s;
}

.light2-right{
    position: absolute;
    top:0.4rem;
    left: 3rem;
    height: 2rem;
    animation-name: star;
    animation-duration: 1s;
}

/* efectos */

.effect{
    transition: opacity ease 1s;
    animation-name: intro;
    animation-duration: 2s;
}

.move{
    animation-name: shake; 
    animation-duration: 2s;
    height: 200px;
}

.close{
    display:none;
}

.final{
    display:block;
    height: 200px;
}

.covert{
    opacity:0;
}

/*   animaciones */

@keyframes intro {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes shake {
    0% { 
        transform: translate(0, 4px); 
    }
    10% { 
        transform: translate(0px, 0px); 
    }
    20% { 
        transform: translate(0px, -4px);  
    }
    30% { 
        transform: translate(0px, 0px); 
    }
    40% { 
        transform: translate(0px, 4px); 
    }
    50% { 
        transform: translate(0px, 0px); 
    }
    60% { 
        transform: translate(0px, -4px); 
    }
    70% { 
        transform: translate(0px, 0px); 
    }
    80% { 
        transform: translate(0px, 4px); 
    }
    90% { 
        transform: translate(0px, 0px); 
    }
    100% { 
        transform: translate(0px, -4px); 
    }
  } 

  @keyframes star {
    from {
        transform: rotate(0deg) scale(0.1);
    }
    to {
        transform: rotate(360deg) scale(1.2);
    }
  } 