*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

@font-face {
    font-family:"Gotham";
    src: url(/fonts/Gotham-Medium.otf);
  }

body{
    background-color: black; 
    font-family:"Gotham";
    padding:1rem;
}

.logo{
    width: 8rem;
    display: block;
    margin: 0rem auto 0.5rem auto;
} 

.title {
    color:white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0 0 1rem 0;
    padding: 0 2rem;
}

.title-span{
    text-transform: uppercase;
}

.js-hidden{
    opacity: 0;
}

.subtitle{
    color:white;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.5rem 0 0 1rem;
    text-transform: uppercase;
}

.arrow{
    width: 5rem;
    display:block;
    margin:auto;
    padding-right: 1rem;
}

.coctel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 30% 0 0;
}

.coctel-left{
    display:flex;
    flex-direction: column;
}

.pointer{
    width: 4rem;
    display:block;
    align-items: flex-end;
    margin-left: 50%;
}

.ingredient{
    height: 10rem;
}

.text{
    color:white;
    font-size: 0.9rem;
}

.coctel-right{
    margin-left:0rem;
}

.glass{
    height: 14.5rem;
    position: fixed;
} 

.limonEffect{
    transition: opacity ease 1s;
    animation-name: intro;
    animation-duration: 5s;
}

@keyframes intro {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  